<div class="col-md-12" ng-controller="ElencoUtentiCtrl">
  <div class="row">
    <div ng-if="utenti.length === 0" class="col-md-12">
      Nessun utente presente in anagrafica
    </div>

    <div ng-if="utenti.length !== 0" class="col-md-12">
      <div class="row" ng-repeat="utente in utenti">
        <div class="col-md-4">
          {{utente.nome}}
        </div>
        <div class="col-md-4">
          {{utente.cognome}}
        </div>
        <div class="col-md-4">
          <a ui-sref="dettaglio({id:'{{utente._id}}'})" class="btn btn-success btn-xs">View</a>
          <a ng-click="cancella($index)" class="btn btn-danger btn-xs">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
