<div class="col-md-12" ng-controller="AggiungiCtrl">
	<form class="form-horizontal" action="" method="post" role="form">
		<fieldset class="form-group">
    		<label for="name">Nome</label>
    		<input type="text" class="form-control" id="name" placeholder="nome" ng-model="nuovoUtente.nome">
  		</fieldset>
  		<fieldset class="form-group">
    		<label for="address">Cognome</label>
    		<input type="text" class="form-control" id="address" placeholder="cognome" ng-model="nuovoUtente.cognome">
  		</fieldset>
  		<button ng-click="salva()" class="btn btn-success btn-xs">Salva</button>
  		
	</form>
</div>
