<div class="col-md-12" ng-controller="DettaglioCtrl">
	<div class="form-horizontal">
		<div class="row">
			<div class="form-group" ng-submit="editing = false">
	    		<label for="nome" class="col-md-3 control-label">Nome</label>
	        	<div class="col-md-9">
	          		<p ng-hide="editing" class="form-control-static">{{utente.nome}}</p>
	          		<input ng-show="editing" class="form-control" type="text" ng-model="utente.nome" placeholder="Nome" ng-required/>
		        </div>
	    	</div>
		</div>
		<div class="row">
			<div class="form-group">
	    		<label for="nome" class="col-md-3 control-label">Cognome</label>
	        	<div class="col-md-9">
	          		<p ng-hide="editing" class="form-control-static">{{utente.cognome}}</p>
	          		<input ng-show="editing" class="form-control" type="text" ng-model="utente.cognome" placeholder="Cognome" ng-required/>
		        </div>
	    	</div>
		</div>
		<div class="row">
			<div class="form-group">
	    		<label for="nome" class="col-md-3 control-label">Email</label>
	        	<div class="col-md-9">
	          		<p ng-hide="editing" class="form-control-static">{{utente.email}}</p>
	          		<input ng-show="editing" class="form-control" type="text" ng-model="utente.email" placeholder="Email" ng-required/>
		        </div>
	    	</div>
		</div>
		<div class="row">
			<div class="col-md-9 col-md-offset-3 text-center">
				<button ng-hide="editing" class="btn btn-success btn-xs" ng-click="toggleEditor()">Edit</button>
				<button ng-show="editing" class="btn btn-success btn-xs" ng-click="save()">Save</button>
				<button ng-show="editing" class="btn btn-success btn-xs" ng-click="cancel()">Cancel</button>
				<button class="btn btn-success btn-xs" ng-click="userList()">Back</button>
			</div>
		</div>
	</div>

  	
</div>